<div class="card">
    {% if product.featured_image %}
        <img src="{{ product.featured_image.src | image_url: width: '300px' }}" alt="{{ product.featured_image.alt }}">
    {% endif %}
    <div class="card-text">
        <span>{{ product.vendor }}</span>
        <a href="{{ product.url }}">
            <h1>{{ product.title }}</h1>
        </a>
        <h2>{{ product.price | money }}</h2>
    </div>
</div>

<style>
    .card {
    display: flex;
    flex-direction: column;
    padding: 10% 3%;
    border: solid 4px red;
}

.card img {

    height: 400px;
}

.card-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card span, .card a, .card h2 {
    word-wrap: break-word;
}

.pagination-container {
    padding: 16px 0;
    text-align: center;
}

</style>