<section class="latest-news-container">
    <div class="latest-news-image">
        {% if blogArticle.image %}
            <img src="{{ blogArticle.image.src |  image_url: width: 700, height: 400 }}"  alt="{{ blogArticle.image.alt }}">
        {% else %}
            {{ 'image' | placeholder_svg_tag: '1200x400', 'Placeholder Image' }}
        {% endif %}    
    </div>
    <div class="latest-news-content">
        <h1 class="latest-content-title">{{ blogArticle.title }}</h1>
        <p class="latest-content-description">{{ article.published_at | time_tag: format: 'date' }}</p>
    </div>

</section>

<style>
    .latest-news-container{
        display: flex;
        flex-direction: row;  
    }

    .latest-news-image{
        background-color: aquamarine;
        padding: 3%;
    }

    .latest-news-content{
        background-color: blueviolet;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .latest-content-title{
        font-size: 3rem;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .latest-content-description{
        font-size: 1rem;
    }
</style>