<!doctype html>
<html>
  <head>
    <title>{{ page_title }}</title>
    <meta charset="utf-8">
    <meta name="description" content="{{ page_description | escape }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="orientation" content="portrait"> 
    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    {{ content_for_header }}
    <!-- Header hook for plugins -->
    {{ 'application.css' | asset_url | stylesheet_tag }}
    {{ 'application.js' | asset_url | script_tag }}
  </head>
  <body>
    <main role="main">
      {{ content_for_layout }}
    </main>
  </body>
</html>

