<!doctype html>
<html>
  <head>
    <title>{{ page_title }}</title>
    <meta charset="utf-8">
    <meta name="description" content="{{ page_description | escape }}">
    <meta name="viewport" content="width=device-width">
    {{ content_for_header }}
    <!-- Header hook for plugins -->
    {{ 'application.css' | asset_url | stylesheet_tag }}
    {% comment %} {{ 'application.js' | asset_url | script_tag }} {% endcomment %}
  </head>
  <body>
    <main role="main">
      {{ content_for_layout }}
    </main>
  </body>
</html>